﻿@model IEnumerable<BlueEstate.Models.Ev>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Ev Ilan Oluştur", "EvOlustur")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IlanTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KonutTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boyut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotograf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir.SehirAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.IlanTuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KonutTipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdaSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanyoSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boyut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fotograf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir.SehirAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "EvDuzenle", new { id=item.EvID }) |
            @Html.ActionLink("Detaylar", "EvDetay", new { id=item.EvID }) |
            @Html.ActionLink("Sil", "EvSil", new { id=item.EvID })
        </td>
    </tr>
}

</table>
