﻿@model BlueEstate.Models.Uye
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center>

    <h2>
        HOŞGELDİN SAYIN<h1> @Model.UyeAdi</h1>
    </h2>

<br />
    <h2>Yukarıdaki Menülerden Sisteminizi Yönetebilirsiniz İyi Günler...</h2>


</center>



