﻿@model BlueEstate.Models.Slider

@{
    ViewBag.Title = "SliderOlustur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SliderOlustur</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Slider</h4>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.sliderLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="Fotograf" value="bos.jpg" />
                <input type="file" name="Fotograf2" />
                @Html.ValidationMessageFor(model => model.sliderLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sliderAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sliderAciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sliderAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
 
    </form>

    <div>
        @Html.ActionLink("Listeye Geri Dön", "SliderListe")
    </div>
