﻿@model BlueEstate.Models.Slider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form action="" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Slider</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2>Resim Ön İzlemesi</h2>
        <img src="~/Content/img/yuklenenfotograflar/@Model.sliderLink" />
        <div class="form-group">
            @Html.LabelFor(model => model.sliderLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="Fotograf" value="bos.jpg" />
                <input type="file" name="Fotograf2" />
                @Html.ValidationMessageFor(model => model.sliderLink, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="sliderID" value="@Model.sliderID" />
        <div class="form-group">
            @Html.LabelFor(model => model.sliderAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sliderAciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sliderAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Listeye Geri Dön", "SliderListe")
</div>
