﻿@model BlueEstate.Models.Uye

@{
    ViewBag.Title = "UyeSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UyeSil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyelikTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyelikTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki)
        </dd>

    </dl>

    @using (Html.BeginForm("UyeSilOnay","Admin")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.UyeID" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "UyeListe")
        </div>
    }
</div>
