﻿@model BlueEstate.Models.Uye

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id='page-title' class='small-height'>
    <section class='container'>
        <section class='row'>
            <div class='span8'>
                <h1>About this project</h1>
                <p>In sit amet arcu quis dolor adipiscing laoreet sed sit amet arcu. Proin non adipiscing felis.</p>
            </div>
        </section>
    </section>
</section>
<section class='about-slider'>
    <section class='container'>
        <section class='row'>
            <div class='span12'>
                <div class='description-box open' rel='1'>
                    <div class='inner'>
                        <div class='inner-container'>



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Uye</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UyeID)
                                    @Html.HiddenFor(model => model.Yetki)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sifresi, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Sifresi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Sifresi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <input type="hidden" name="UyelikTarihi" value="@Model.UyelikTarihi" />

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UyeAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UyeAdi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UyeAdi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>






                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<section class='full-width'>
    <section class='container'>
        <section class='row'>
            <div class='span4'>
                <h2>How We Work</h2>
                <p>Aenean dignissim luctus ipsum a convallis. Pellentesque vehicula urna et dolor consectetur nec fermentum dui faucibus. </p>
                <a href="#" class='read-more'>Learn More</a>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>1.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>2.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>3.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                </ul>
            </div>
            <div class='span4'>
                <ul class='big-numbers'>
                    <li>
                        <span class='number'>4.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>5.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                    <li>
                        <span class='number'>6.</span> <div class='text'>Proin congue arcu libero. Sed placerat, sapien eu imperdiet scelerisque, arcu diam eleifend lorem, non vestibulum.</div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</section>
<section id='content' class='alternate-bg'>
    <section class='container'>
        <section class='row featured-items'>
            <div class='span12'>
                <div class='stats5'>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>3k</span>
                            <span class='text'>Items in Database</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>300</span>
                            <span class='text'>Happy Clients</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>60</span>
                            <span class='text'>Experienced Agents</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>58</span>
                            <span class='text'>Searches per hour</span>
                        </div>
                    </div>
                    <div class='stats-box'>
                        <div class='inner'>
                            <span class='number'>786</span>
                            <span class='text'>Months of Activity</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='span12'>
                <div class="hero-unit">
                    <h1>Sed tortor nulla, vehicula hendrerit pretium</h1>
                    <p>Maecenas accumsan libero sed <strong>nunc ultricies eget molestie</strong> purus blandit. Maecenas lobortis vulputate tortor eget cursus. Curabitur a semper orci.</p>
                    <p>
                        <a class="btn btn-primary btn-large">
                            Learn more
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </section>
</section>