﻿@{
    ViewBag.Title = "Home Page";
}

@model BlueEstate.Models.EvSlider


<section id='homepage-slider'>
    <div class='controls-wrapper'>
        <section class='container'>
            <section class='row'>
                <div class='controls hidden-phone'>
                    <a href="#" class='prev'>Previous</a>
                    <a href="#" class='next'>Next</a>
                </div>
            </section>
        </section>
    </div>
    <section class='slider-wrapper'>
        <div class='homepage-slider hidden-phone'>
            <ul class='slides'>
                @foreach (var item in Model.slider)
                {

                    <li>
                        <img src="~/Content/img/yuklenenfotograflar/@item.sliderLink" alt="" class='bg-image' />
                        <div class='container'>
                            <div class='row'>
                                <div class='span12'>
                                    <div class='text-box span6'>
                                        <h1>@item.sliderAciklama</h1>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</section>
<section id='main' role='main'>
    <section class='container'>
        <section class='row featured-items' style="margin-top:80px;">
            <div class='span12'>



                <div class='featured-items-slider'>
                    <ul class='slides'>
                        <li>
                            <div class='row'>








                                @foreach (var item in Model.evler)
                                {



                                    <div class='span3 featured-item-wrapper'>
                                        <div class='featured-item'>
                                            <div class='top'>
                                                <div class='inner-border'>
                                                    <div class='inner-padding'>
                                                        <figure>
                                                            <img src="~/Content/img/yuklenenfotograflar/@item.Fotograf" alt="" />
                                                            @if (item.IlanTuru == "Sold" || item.IlanTuru == "Satildi")
                                                            {
                                                                <div class='banner' style="background:#ff0000">@Html.DisplayFor(modelItem => item.IlanTuru)</div>
                                                            }
                                                            else
                                                            {
                                                                <div class='banner'>@Html.DisplayFor(modelItem => item.IlanTuru)</div>
                                                            }
                                                            <a href="/Home/Property/@item.EvID" class='figure-hover'>Zoom</a>
                                                        </figure>
                                                        <h3><a href="/Home/Property/@item.EvID">@Html.DisplayFor(modelItem => item.Sehir.SehirAdi)</a></h3>
                                                        <p>@Html.DisplayFor(modelItem => item.Sehir.Eyalet.EyaletAdi)</p>
                                                    </div>
                                                </div>
                                                <i class='bubble'></i>
                                            </div>
                                            <div class='bottom'>
                                                <div class='inner-border'>
                                                    <div class='inner-padding'>
                                                        <p>@item.OdaSayisi oda  +  @item.BanyoSayisi banyo  +  @item.Boyut m²</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='price-wrapper'>

                                            <div class='price'>@Html.DisplayFor(modelItem => item.Fiyat) ₺</div>
                                            @if (item.IlanTuru == "Kira")
                                            {
                                                <div class='rate'>/mo</div>
                                            }
                                        </div>
                                    </div>








                                }



                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <i class='content-bubble'></i>
        </section>
    </section>
</section>