﻿
@{
    ViewBag.Title = "Search";
}
@model BlueEstate.Models.IlanlarSehirler

<section id='page-title'>
    <section class='container'>
        <section class='row'>
            <div class='span6'>
                <h1>@lang.lang.result</h1>
                <p>@lang.lang.resultaciklama</p>
            </div>
        </section>
    </section>
</section>

<section id='content'>
    <section class='container'>
        <section class='row featured-items'>
            <section class='span9'>
                <div class='row'>




                    @if (Model.ev != null)
                    {

                        if (Model.ev.Count > 0)
                        {

                            foreach (var item in Model.ev)
                            {
                                <div class='span3 featured-item-wrapper'>
                                    <div class='featured-item'>
                                        <div class='top'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <figure>
                                                        <img src="~/Content/img/yuklenenfotograflar/@item.Fotograf" alt="" />
                                                        @if (item.IlanTuru == "Sold" || item.IlanTuru == "Satildi")
                                                        {
                                                            <div class='banner' style="background:#ff0000">@Html.DisplayFor(modelItem => item.IlanTuru)</div>
                                                        }
                                                        else
                                                        {
                                                            <div class='banner'>@Html.DisplayFor(modelItem => item.IlanTuru)</div>
                                                        }
                                                        <a href="/Home/Property?id=@item.EvID" class='figure-hover'>Zoom</a>
                                                    </figure>
                                                    <h3><a href="/Home/Property?id=@item.EvID">@Html.DisplayFor(modelItem => item.Sehir.SehirAdi)</a></h3>
                                                    <p>@Html.DisplayFor(modelItem => item.Sehir.Eyalet.EyaletAdi)</p>
                                                </div>
                                            </div>
                                            <i class='bubble'></i>
                                        </div>
                                        <div class='bottom'>
                                            <div class='inner-border'>
                                                <div class='inner-padding'>
                                                    <p>@item.OdaSayisi oda  +  @item.BanyoSayisi banyo  +  @item.Boyut m²</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='price-wrapper'>

                                        <div class='price'>@Html.DisplayFor(modelItem => item.Fiyat) $</div>
                                        @if (item.IlanTuru == "Kira")
                                        {
                                            <div class='rate'>/mo</div>
                                        }
                                    </div>
                                </div>








                            }
                        }
                        else
                        {
                            <h1> @lang.lang.kayitbulunamadi</h1>
                        }


                    }

                    else
                    {
                        <center>
                            <h1> @lang.lang.kayitbulunamadi</h1>
                        </center>
                    }











                </div>

            </section>
            <aside class='span3'>
                <section class='widget'>
                    <section class='widget-title uppercase'>
                        <div class='inner'>
                            <h2>Arama Filtreleme</h2>
                        </div>
                    </section>
                    <section class='widget-content'>
                        <form action="" method="get">
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="location">@lang.lang.sehir</label>
                                    <select name="SehirID">
                                        <option value="-1">@lang.lang.hepsi</option>
                                        @foreach (var item in Model.sehir)
                                        {

                                            <option value="@item.SehirID">@item.SehirAdi</option>
                                        }


                                    </select>

                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="propertyType">@lang.lang.ilanturu</label>
                                    <select name="IlanTuru" id="propertyType" class='btn-block selectpicker'>
                                        <option value="-1">@lang.lang.hepsi</option>
                                        <option value="Kiralik">Kiralık</option>
                                        <option value="Satilik">Satılık</option>
                                    </select>
                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="category">@lang.lang.konuttipi</label>
                                    <select name="KonutTipi" id="category" class='btn-block selectpicker'>
                                        <option value="-1">@lang.lang.hepsi</option>
                                        <option value="Apartman">Apartman</option>
                                        <option value="Mustakil">Müstakil</option>
                                    </select>
                                </div>
                            </div>
                            <div class='widget-section first-half'>
                                <div class='inner'>
                                    <label for="minPrice">@lang.lang.minboyut</label>
                                    <select name="boyutt_min" id="minPrice" class='btn-block selectpicker'>
                                        <option value="-1">Hepsi</option>
                                        <option value="0">0</option>
                                        <option value="50">50 m²</option>
                                        <option value="100">100 m²</option>
                                        <option value="150">150 m²</option>
                                        <option value="200">200 m²</option>
                                        <option value="250">250 m²</option>
                                    </select>
                                </div>
                            </div>
                            <div class='widget-section second-half'>
                                <div class='inner'>
                                    <label for="maxPrice">@lang.lang.maxboyut</label>
                                    <select name="boyutt_max" id="maxPrice" class='btn-block selectpicker'>
                                        <option value="-1" selected="selected">Hepsi</option>
                                        <option value="50">50 m²</option>
                                        <option value="100">100 m²</option>
                                        <option value="150">150 m²</option>
                                        <option value="200">200 m²</option>
                                        <option value="250">250 m²</option>
                                        <option value="300">300 m²</option>
                                        <option value="600">600 m²</option>
                                    </select>
                                </div>
                            </div>


                            <div class='widget-section first-half'>
                                <div class='inner'>
                                    <label for="minPrice">@lang.lang.minfiyat</label>
                                    <select name="Fiyat_min" id="minPrice" class='btn-block selectpicker'>
                                        <option value="0" selected="selected">0K</option>
                                        <option value="50000">$50000</option>
                                        <option value="100000">$100000</option>
                                        <option value="150000">$150000</option>
                                        <option value="200000">$200000</option>
                                        <option value="250000">$250000</option>
                                        <option value="300000">$300000</option>
                                        <option value="600000">$600000</option>
                                        <option value="-1">@lang.lang.hepsi</option>
                                    </select>
                                </div>
                            </div>

                            <div class='widget-section second-half'>
                                <div class='inner'>
                                    <label for="maxPrice">@lang.lang.maxfiyat</label>
                                    <select name="Fiyat_max" id="maxPrice" class='btn-block selectpicker'>
                                        <option value="0">0K</option>
                                        <option value="50000">$50000</option>
                                        <option value="100000">$100000</option>
                                        <option value="150000">$150000</option>
                                        <option value="200000">$200000</option>
                                        <option value="250000">$250000</option>
                                        <option value="300000">$300000</option>
                                        <option value="600000">$600000</option>
                                        <option value="-1" selected="selected">@lang.lang.hepsi</option>
                                    </select>
                                </div>
                            </div>

                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="bedrooms">@lang.lang.yatakodasi</label>
                                    <select name="OdaSayisi" id="bedrooms" class='btn-block selectpicker'>
                                        <option value="-1">@lang.lang.hepsi</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class='widget-section'>
                                <div class='inner'>
                                    <label for="bathrooms">@lang.lang.banyosayisi</label>
                                    <select name="BanyoSayisi" id="bathrooms" class='btn-block selectpicker'>
                                        <option value="-1">@lang.lang.hepsi</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>


                            <section class='widget-buttons'>
                                <div class='inner'>
                                    <input type="submit" value="@lang.lang.gonder" class='btn btn-primary btn-large btn-block' />
                                </div>
                            </section>
                        </form>
                    </section>
                </section>
                <a href="/Home/Search" id='clearFilters'>@lang.lang.aramayitemizle</a>
            </aside>
        </section>
    </section>
</section>